.about {
  padding-top: 95px;
  padding-bottom: 95px;

  &__list {
    display: flex;
    justify-content: baseline;
    gap: 30px;
  }

  &__item {
    &::before {
      content: "";
      display: block;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-color: var(--secondary-color);
      background-image: url(../img/about/antenna.svg);
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(2)::before {
      background-image: url(../img/about/clock.svg);
    }

    &:nth-child(3)::before {
      background-image: url(../img/about/diagram.svg);
    }

    &:nth-child(4)::before {
      background-image: url(../img/about/astronaut.svg);
    }
  }

  &__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.14;
  }

  &__text {
    color: var(--secondary-text-color);
    letter-spacing: 0.03em;
  }
}
