.logo {
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 26px;
  }
  .logo__part {
    color: var(--logo-color);
  }